.body{
     font-family: 'Roboto', sans-serif;

   }
   .container{
   
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display: flex;
   }
   .cabecalho{
     flex-basis: 30%;

    
      
    }
    
    .cabecalho__logo{
      margin-botton:50px;
    }
    .cabecalho__logo img{
      
    }
    .cabecalho__logo figcaption{
      display: none;
    }
 
    .cabecalho__menuNavegacao{}
  
    .cabecalho__menuLista{}

    .cabecalho__menuItem{
      margin-botton: 25px;
      list-style-type: none;
      margin-top: 30px;

    }
    .cabecalho__menuItem a{
      color: #000;
      text-decoration: none;
      font-size: 22px;
      vertical-align: top;
      
    }

    .cabecalho__menuItem img{
      max-width: 26px;
    }


   .conteudoPrincipal{
      flex-basis: 70%;
      border-left: 1px solid #e7ecf0;
      border-right: 1px solid #e7ecf0;
      padding: 20px 32 px;
   }
.conteudoPrincipal__titulo{
  padding: 10px 30px;
  }

    .conteudoPrincipal__tweet{
      
    padding: 20px 32px;
    display: flex;
    align-items: flex-start;
    border-botom: 1px solid #ddd;
   
    }

    .conteudoPrincipal__formulario{
      padding: 10px 30px;
      border-top: 1px solid #e7ecf0;
      border-buttom: 10px solid #e7ecf0;
      text-align: right;
      
    }
    .conteudoPrincipal__formulario textarea{
      display: block;
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      height: 55px;
      
      

    }
    .conteudoPrincipal__formulario button{
      background-color:#ldalf2; 
      border: none;
      padding: 8px 20px;
      color: #fff;
      border-radius: 20px; 
      background-color: #1da1f2;
    }
.conteudoPrincipal__feed{
  
}
conteudoPrincipal__listaTweets{
  
}
    .tweet__fotoPerfil{
      margin-left: 12px;
      
    }
    .tweet__conteudo{
      
      
      margin-left:10px;
    } 
    .tweet__conteudo h2{
      display: inline-block;
    }
    .tweet__conteudo span {
      display: inline-block;
      color: #828282;
    }
    .tweet__conteudo p{
      margin-top:15px;
      color: #333333;
      
    }